{% load static %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<!--<div class="jumbotron-fluid text-center bg-dark text-white">-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand justify-content-center" href="#">
          <div class="container">
            <img class="row" src="{% static 'img/' %}logo.png"  style="width:200px;" alt="">
            <div class="row">
              <h1>{{ c.title }}</h1>
            </div>
          </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
    <li class="nav-item">
      <a class="nav-link" href="/tracks/">Tracks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/bio/">Bio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/gallery/">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contacts/">Contacts</a>
    </li>
      </ul>
    </div>
  </div>
</nav>









<!--
<div class="my-2 container justify-content-center">

  <div class="row">
      <div class="col-sm-8">
        <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/1.jpeg" class="img-thumbnail">
      </div>
    <div class="col text-left">
      <h3 class="font-italic text-primary">Concrete
      <small class="badge badge-pill badge-dark">New</small>
      </h3>
      <p>
          Some new music created by bad mood and raining days.
      </p>
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/724533871&color=%239fa7a1&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/deigineor" title="DEIGINEOR" target="_blank" style="color: #cccccc; text-decoration: none;">DEIGINEOR</a> · <a href="https://soundcloud.com/deigineor/concrete-2" title="CONCRETE 2" target="_blank" style="color: #cccccc; text-decoration: none;">CONCRETE 2</a></div>
        <small class="text-muted">
          <b>Album:</b> None <b>Year:</b> 2020
        </small>
      <a class="btn btn-dark" href="#">Listen on SoundCloud</a>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8">
      <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/1.jpeg" class="img-thumbnail">
    </div>
    <div class="col">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>


  <div class="card rounded-lg mx-auto" style="width:400px">
    <img class="card-img-top" src="/home/shellshock/dNull/www/deigineor.com/projects/templates/1.jpeg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Jane Doe</h4>
      <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
</div>
-->


{% block page_content %}
{% endblock %}

<!--
    <div class="px-5 d-flex justify-content-center">
        <div class="p-6">
          <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/1.jpeg" alt="sans">
        </div>
      <div class="p-4 flex-fill"> <p>Some TExtk</p> </div>
    </div>
-->






<!--
<div id="demo" class="carousel slide" data-ride="carousel">

  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/1.jpeg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/2.jpeg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/3.jpeg" alt="New York" width="1100" height="500">
    </div>
  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
-->


<!--
<div class=" text-center bg-dark text-white-50 fixed-bottom">
  <p class="text-monospace text-muted">Reserved 2020</p>
</div>
-->
<div class="p-1 rounded-0 jumbotron text-center text-light bg-dark" style="margin-bottom:0">
  <p>Contact Me</p>
</div>
