<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
  }
  </style>
</head>
<!--<div class="jumbotron-fluid text-center bg-dark text-white">-->


  <div class="container ">

  <div class="container row justify-content-center">
    <img class="img-responsive" src="/home/shellshock/dNull/www/deigineor.com/projects/templates/logo.png"  style="height:200px; width:300px;">

    <div class="col-sm-10 text-center">
      <h1 class="display-3">
        DEIGINEOR
      </h1>
      <h2>Music composer</h2>
    </div>
  </div>

  </div>

<!--</div>-->
<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Tracks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Bio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Contacts</a>
    </li>
  </ul>
</nav>


<ul class="nav nav-tabs nav-justified justify-content-center sticky-top bg-dark">
  <li class="nav-item">
    <a class="nav-link" href="#">Lyrics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Electro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Melodic</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Action</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Dubstep</a>
  </li>
</ul>


<!--
<div class="my-2 container justify-content-center">

  <div class="row">
      <div class="col-sm-8">
        <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/1.jpeg" class="img-thumbnail">
      </div>
    <div class="col text-left">
      <h3 class="font-italic text-primary">Concrete
      <small class="badge badge-pill badge-dark">New</small>
      </h3>
      <p>
          Some new music created by bad mood and raining days.
      </p>
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/724533871&color=%239fa7a1&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/deigineor" title="DEIGINEOR" target="_blank" style="color: #cccccc; text-decoration: none;">DEIGINEOR</a> · <a href="https://soundcloud.com/deigineor/concrete-2" title="CONCRETE 2" target="_blank" style="color: #cccccc; text-decoration: none;">CONCRETE 2</a></div>
        <small class="text-muted">
          <b>Album:</b> None <b>Year:</b> 2020
        </small>
      <a class="btn btn-dark" href="#">Listen on SoundCloud</a>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-8">
      <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/1.jpeg" class="img-thumbnail">
    </div>
    <div class="col">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>


  <div class="card rounded-lg mx-auto" style="width:400px">
    <img class="card-img-top" src="/home/shellshock/dNull/www/deigineor.com/projects/templates/1.jpeg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Jane Doe</h4>
      <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
</div>
-->

<div class="container">

              <div class="py-3 card shadow-lg">
                  <div class="row card-body justify-content-center">

                    <img class="img-responsive full-width col-sm-6 col-lg-4" src="/home/shellshock/dNull/www/deigineor.com/projects/templates/1.jpeg" alt="sans">

                     <div class="col-sm-4 col-lg-6">
                        <h2 class="card-title">TITLE</h2>
                         <p class="card-text">some bio asdasd ijasdija dojasdj asdjasdj asoijd aisjd aijdsoajd oaijsdoa ijdoasjd oiajsdo</p>
                       <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/724533871&color=%239fa7a1&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/deigineor" title="DEIGINEOR" target="_blank" style="color: #cccccc; text-decoration: none;">DEIGINEOR</a> · <a href="https://soundcloud.com/deigineor/concrete-2" title="CONCRETE 2" target="_blank" style="color: #cccccc; text-decoration: none;">CONCRETE 2</a></div>
                       <small class="align-self-center text-muted">
                         <b>Album:</b> None <b>Year:</b> 2020
                       </small>
                         <div>
                           <a class="btn btn-dark" href="#">SoundCloud</a>
                         </div>
                      </div>
                  </div>
            </div>


</div>

<!--
    <div class="px-5 d-flex justify-content-center">
        <div class="p-6">
          <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/1.jpeg" alt="sans">
        </div>
      <div class="p-4 flex-fill"> <p>Some TExtk</p> </div>
    </div>
-->



  <ul class="my-3 pagination pagination-sm justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>


<!--
<div id="demo" class="carousel slide" data-ride="carousel">

  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/1.jpeg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/2.jpeg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="/home/shellshock/dNull/www/deigineor.com/projects/templates/3.jpeg" alt="New York" width="1100" height="500">
    </div>
  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
-->


<!--
<div class=" text-center bg-dark text-white-50 fixed-bottom">
  <p class="text-monospace text-muted">Reserved 2020</p>
</div>
-->
