{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{% static 'img/' %}{{ c.bio.img }}" style="width:300px;">
        </div>
        <div class="col">
           {% for p in c.bio.p %}
            <p>{{ p }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
