{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <p>{{ c.contacts.text }}</p>
        </div>
        <div class="row">
           {% for link in c.contacts.links %}
            <div class="col">
                <a href="{{ link.url }}">{{ link.name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
