{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div id="demo" class="mt-5 carousel slide" data-ride="carousel">

  <ul class="carousel-indicators">
    {% for iter in c.gallery %}
    <li data-target="#demo" data-slide-to="{{ iter }}" class="active"></li>
    {% endfor %}
  </ul>

  <div class="carousel-inner">

    {% for item in c.gallery %}
    <div class="carousel-item">
      <img src="{% static 'img/' %}{{ item.photo }}" alt="{{ item.text }}" width="1100" height="500">
    </div>
    {% endfor %}


  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
--
{% endblock %}