{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container sticky-top mx-auto bg-light">


<ul class="my-1 nav nav-justified sticky-top">
{% for genre in c.genres %}
  <li class="nav-item">
    <a class="nav-link" href="/tracks/{{ genre }}/1">{{ genre }}</a>
  </li>
{% endfor %}
</ul>

</div>
<div class="container">
{% for track in tracks %}
{% if genre == "All" or track.genre == genre %}
<div class="media p-3 m-3 ">
    <img src="{% static 'img/' %}{{ track.img }}" alt="{{ track.name }}_image" class="mr-3 mt-3" style="width:300px;">
    <div class="media-body">
      <h2 class="text-primary">{{ track.name }}</h2>
      <p>{{ track.bio }}</p>
        {{ track.link|safe }}
        <small class="text-muted">
            <b>Album:</b> {{ track.album }} <b>Year:</b> {{ track.year }}
        </small>
    </div>
  </div>
<!--
              <div class="mb-2 card shadow-lg">
                  <div class="row card-body justify-content-center">

                    <img class="img-responsive full-width col-sm-6 col-lg-4" src="{{ track.image }}">

                     <div class="col-sm-4 col-lg-6">
                        <h2 class="card-title">{{ track.name }}</h2>
                         <p class="card-text">{{ track.bio }}</p>
                         {{ track.link|safe }}
                       <small class="align-self-center text-muted">
                         <b>Album:</b> {{ track.album }} <b>Year:</b> {{ track.year }}
                       </small>
                         <div>
                           <a class="btn btn-dark" href="#">SoundCloud</a>
                         </div>
                      </div>
                  </div>
            </div>
-->
{% endif %}
{% endfor %}
{% if track_count == 0 %}
    <div class="my-5 display-4 text-center">
        Sorry - no tracks
    </div>

{% endif %}
</div>
{% if page_count|length > 0 %}
<ul class="my-3 pagination pagination-sm justify-content-center">

    {% if prev_page == 0 %}
        <li class="page-item disabled"><a class="page-link" href="/tracks/{{ genre }}/{{ prev_page }}">Previous</a></li>
    {% else %}
        <li class="page-item"><a class="page-link" href="/tracks/{{ genre }}/{{ prev_page }}">Previous</a></li>
    {% endif %}

    {% for i in page_count %}
        {% if i == page %}
        <li class="page-item active"><a class="page-link" href="/tracks/{{ genre }}/{{ i }}">{{ i }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="/tracks/{{ genre }}/{{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if next_page == 0 %}
        <li class="page-item disabled"><a class="page-link" href="/tracks/{{ genre }}/{{ next_page }}">Next</a></li>
    {% else %}
        <li class="page-item"><a class="page-link" href="/tracks/{{ genre }}/{{ next_page }}">Next</a></li>
    {% endif %}

</ul>
{% endif %}
{% endblock %}
